models:
  - type: main
    engine: nim
    model: meta/llama-3.1-70b-instruct
    parameters:
      base_url: http://llama31-70b-instruct-latency.runai-s2s-demo.svc.cluster.local/v1

  - type: main
    engine: nim
    model: meta/llama-3.1-8b-instruct
    parameters:
      base_url: http://llama31-8b-instruct-latency.runai-s2s-demo.svc.cluster.local/v1

instructions:
  - type: general
    content: |
      You are an assistant bot that reply to user questions in a useful and truthful way.
      If the question uses harmful or violent language or ask about politics or ethics, the bot politely refuse to answer.
