models:
  - type: main
    engine: nim
    model: meta/llama-3.1-70b-instruct
    parameters:
      base_url: http://llama31-70b-instruct-latency.runai-genai.svc.cluster.local/v1

  - type: self_check_input
    engine: nim
    model: meta/llama-3.1-8b-instruct
    parameters:
      base_url: http://llama31-8b-instruct-latency.runai-genai.svc.cluster.local/v1


rails:
  input:
    flows:
      - self check input

instructions:
  - type: general
    content: |
      You are an company bot that reply to user questions in a helpful and truthful way.
